<launch>
  <arg name="example" default="filtering" />
  <arg name="number" default="0" />
  <arg name="realsense" default="false" />
  <arg name="gazebo" default="false" />
  <arg name="use_file" default="false" />
  <arg name="file" default="" />

  <group if="$(arg realsense)">
    <include file="$(find pcl_tutorials_ros)/launch/realsense.launch" />
  </group>
  <group if="$(arg gazebo)">
    <include file="$(find pcl_tutorials_ros)/launch/gazebo.launch" />
  </group>
  <group if="$(arg use_file)">
    <arg name="file_name" value="$(find pcl_tutorials_ros)/samples/$(arg file)"/>
    <arg name="rate" value="0.1"/>

    <node pkg="pcl_ros" type="pcd_to_pointcloud" name="pcd_to_pointcloud" args="$(arg file_name) $(arg rate)" output="screen">
      <remap from="cloud_pcd" to="/camera/depth_registered/points"/>
      <param name="frame_id" value="camera_depth_optical_frame" />
    </node>
  </group>

  <node name="pcl_example" pkg="pcl_tutorials_ros" type="$(arg example)">
    <param name="number" value="$(arg number)" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" respawn="false" 
    args="-d $(find pcl_tutorials_ros)/launch/config.rviz" output="screen" />
</launch>
